{% extends "base.html" %}

{% block title %}Notes Index{% endblock %}

{% block content %}
<article>
    <h1>Available Notes</h1>
    
    {% for note in notes %}
    <section class="note-preview">
        <h2><a href="/notes/{{ note.path }}">{{ note.title }}</a></h2>
        {% if note.date %}
        <p class="date">{{ note.date }}</p>
        {% endif %}
        {% if note.tags %}
        <p class="tags">
            Tags: 
            {% for tag in note.tags %}
            <a href="/tag/{{ tag }}" class="tag">{{ tag }}</a>
            {% endfor %}
        </p>
        {% endif %}
    </section>
    {% endfor %}
</article>
{% endblock %}
