{% extends "base.html" %}

{% block title %}Notes Index{% endblock %}

{% block content %}
<article>
    <h1>Available Notes</h1>
    
    {% for note in notes %}
    {% set metadata = note.metadata %}
    <section class="note-preview">
        <h2><a href="/note/{{ note.id }}">{{ metadata.title }}</a></h2>
        {% if metadata.date %}
        <p class="date">{{ metadata.date }}</p>
        {% endif %}
        {% if metadata.tags %}
        <p class="tags">
            Tags: 
            {% for tag in metadata.tags %}
            <a href="/tag/{{ tag }}" class="tag">{{ tag }}</a>
            {% endfor %}
        </p>
        {% endif %}
    </section>
    {% endfor %}
</article>
{% endblock %}
