{% extends "base.html" %}

{% block title %}Search Results{% endblock %}

{% block content %}
<article>
    <h1>Search Results for "{{ query }}"</h1>

    {% if error %}
    <p class="error">{{ error }}</p>
    {% else %}
    {% if results %}
    <ul>
        {% for note in results %}
        {% set metadata = note.metadata %}
        <li>
            <h2><a href="/note/{{ note.id }}">{{ metadata.title }}</a></h2>
            <p class="date">{{ metadata.date }}</p>
            <div class="snippet">{{ note.snippet|safe }}</div>
        </li>
        {% endfor %}
    </ul>
    {% else %}
    <p>No results found for "{{ query }}".</p>
    {% endif %}
    {% endif %}
</article>
{% endblock %}
